*,*::after,*::before{
    
    box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial Helvetica sans-serif;
}

body{
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

.header{
  display: flex;
  justify-content: space-between;
  padding-inline: 150px;
  box-shadow: 0px  0px 4px  2px #a5a4a4;
}


.navbar{
  display: flex;
  align-items: center;
  gap: 20px;

  
}

.navbar a{

  color: black;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: bold;
  background-color: antiquewhite;

}

/*-------------- Body  Design -------------------*/
.center-container {
  width: 1300px;
  min-height: calc(100vh - 100px);
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */


}

.center-container .btn button {
  width: initial;
  padding: 8px 35px;
  margin: 15px;
  cursor: pointer;
  font-size: 18px;

}

.center-container .card-container {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-container .card-container .card {
  width: 250px;
  height: 300px;
  padding: 10px 15px;
  box-shadow: 0px 0px 4px 1px #b9b9b9;
  border-radius: 7px;
}

.center-container .card .profile {

  height: 65%;
  background-color: #fff;
}

.center-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.center-container .card .info {
  height: 35%;
  display: grid;
  grid-template-rows: 1fr auto;

}

.center-container .info h2{
  font-size: 14px;

}

.center-container .info h4 {
  color: #606060;
  font-size: 13.5px;
}

.center-container .info h5{
  color: gray;
}

.center-container button {
  width: 100%;
  padding: 7px 0px;
  border-radius: 5px;
  outline: none;
  background-color: #222;
  color: white;
  border: none;
}


.loginBtn {
  background-color: rgb(13, 240, 47);
  border: none solid #eee;
  border-radius: 8px;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 40px;
  cursor: pointer;
  

}

.logoutBtn{
  background-color: rgb(137,5,31);
  color: wheat;
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 8px 40px;
  border-radius: 8px;
  cursor: pointer;
  
}

.shimmer-container{
  width: 1300px;
  min-height: calc(100vh - 100px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.shimmer-container .shimmerCard {
  width: 250px;
  height: 300px;
  padding: 10px 15px;
  box-shadow: 0px 0px 4px 1px #e0dede;
  border-radius: 7px;
  background-color: #d0cfcf;
}
